<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div id="loading">Loading...</div>
        <div id="lineProfile">
            <img width="100"  src="https://profile.line-scdn.net/0hoxtUbDS4MFdZLB15udNOKCl8Mz16XWlFJh8sY24uPTBjGXEHc09-MmUuamJmFCMAIUwoNj8oPG5VP0cxR3rMY14cbmBgG34Hdkp7tg" id="lineImg" alt="">
            <div id="lineName"></div>
            <div id="lineUID"></div>
        </div>
        <button id="sendMessage" onclick="sendMessage()">sendMessage</button>
        <button id="logOut" onclick="logOut()">Log Out</button>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>

    <script>
        const LINE_BOT_API = "https://api.line.me/v2/bot";
        const LINE_CHANNAL_ACCESS_TOKEN="hKQpGAefzUb3nfDPG+kNim34f3uUhEm0RW8h9E2NtyAYZNtRrDTnP8J6qPyPSPvRNU3XV786SyrBZH649FugjcCrHZ4nOKWLtp/yHTdm/ZXQASL72zVoRIS/UFmTKNddkTrWTIci91qA1JinsUbxMAdB04t89/1O/w1cDnyilFU="
        let profile;
        const headers= {
            'Access-Control-Allow-Origin': "*",
            "Access-Control-Allow-Headers":"Content-Type",
            "Access-Control-Allow-Methods":"GET, POST, PUT, DELETE, OPTIONS",
            'Content-Type': 'application/json',
            'Authorization': 'Bearer hKQpGAefzUb3nfDPG+kNim34f3uUhEm0RW8h9E2NtyAYZNtRrDTnP8J6qPyPSPvRNU3XV786SyrBZH649FugjcCrHZ4nOKWLtp/yHTdm/ZXQASL72zVoRIS/UFmTKNddkTrWTIci91qA1JinsUbxMAdB04t89/1O/w1cDnyilFU=',
        }
        const main = async () =>{
            await liff.init({
                liffId: '1656872156-bzVww601',
            });
            if(!liff.isLoggedIn()){
                liff.login()
                return false
            }

            profile = await liff.getProfile();
            console.log('profile', profile)
            loading.style.display = 'none';

            lineImg.src = profile.pictureUrl;
            lineName.textContent = `Hello ${profile.displayName}`
            lineUID.textContent  = `UID ${profile.userId}`

        }

        const sendMessage = async () => {
            const body = {
                to: profile.userId,
                messages:[
                    {
                        type:'text',
                        text:"Hello, world1"
                    },

                ]
            }
            try {
                const response = await axios.post(
                    `${LINE_BOT_API}/message/push`,
                    body,
                    {headers}
                )
                console.log('response',response.data)
            } catch (error) {
                console.log('err',error)
            }

        }

        const logOut = async () =>{
            liff.logout()
            window.location.href = '/lineliff'
        }

        main()
    </script>
</body>
</html>




