includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    level: 5

    # ลบบรรทัด checkMissingIterableValueType: false ออก
    # หากต้องการปิดการแจ้งเตือนเรื่อง Iterable ให้ใช้ ignoreErrors แทน (ถ้าจำเป็น)

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    # สำหรับ Larastan แนะนำให้เพิ่มบรรทัดนี้เพื่อช่วยเรื่องการสแกน Model
    checkModelProperties: true
